.nav {
    position: fixed;
    width: 100%;
    background-color: #FCFCFC;
    bottom: 0;
    left: 0;
    padding: 20px 50px;
    border-top: 1px solid #F7F7F7;
}

.nav .nav__list {
    display: flex;
    justify-content: space-between;
}

.nav i {
    font-size: 20px;
}

.nav .nav__list-link {
    position: relative;
}

.nav .nav__badge {
    position: absolute;
    top: -10px;
    right: -10px;
    color: white;
    background-color: #DC5D46;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 12px;
    z-index: 2;
}

@keyframes showNav {
    from {
        transform: translateY(80px);
    }

    to {
        transform: none;
    }
}

.nav {
    transform: translateY(80px);
    animation: showNav 0.5s ease-out forwards;
    animation-delay: 0.5s;
}
.nav__list-item:hover i {
    animation: 1s navItemHover ease-in-out infinite;
}
.nav__list-item:hover .nav__badge {
    animation: .5s vibrationBadge ease-in-out infinite;
}

@keyframes navItemHover {
    0% {
        transform: scale(1);
    }
    50% {
        transform: rotateY(-180deg) scale(2);
    }
    100% {
        transform: rotateY(-360deg) scale(1);
    }
}

@keyframes vibrationBadge {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}